@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
  font-family: 'Paragraphy';
  src: url('../src/assets/fonts/Paragraphy.woff2');
}

@font-face {
  font-family: 'Flighty';
  src: url('../src/assets/fonts/FlightyRegular-vm7zA.ttf');
}

@font-face {
  font-family: 'Manifestly';
  src: url('../src/assets/fonts/ManifestlyRegular-GO84A.ttf');
}

@font-face {
  font-family: 'Roboto';
  src: url('../src/assets/fonts/RobotoMono-ExtraLight.ttf');
}

@font-face {
  font-family: 'RobotoLight';
  src: url('../src/assets/fonts/RobotoCondensed-Regular.ttf');
}