/* @import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

@font-face {
    font-family: 'Paragraphy';
    src: url('../../assets/fonts/Paragraphy.woff2') format('woff2');
}

.container {
    background-color: rgb(245, 245, 240);
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
    border: 0;
}

.map {
    float: right;
    margin: 9% 25% 0 0;
    background-image: url('../images/mapa.jpg');
    background-size: cover;
    background-position-x: right;
    background-position-y: center;
    height: 400px;
    width: 400px;
    border-radius: 50%;
    object-fit: scale-down
}

.one_half {
    width: 50%;
    margin: 13% 0 0 11%;
    font-family: 'Anton', sans-serif;
}

.circle{
    background-color: #8A9DA2;
    border-radius:70% 40% 30% 80% / 55% 45% 60% 50%;
    height: 65px;
    width: 65px;
    position:absolute;
    top: 80px; left: 130px;
}

.circle2{
    background-color: #8A9DA2;
    border-radius: 50% 30% 80% 70%;
    height: 150px;
    width: 150px;
    position:absolute;
    top: 360px;
    right: 100px;
}

.description{
    font-family: 'Paragraphy', sans-serif;
}

.start{
    text-decoration: none;
    background-color:#8A9DA2 ;
    padding: 10px 10px 10px 10px;
    font-family: 'Poppins', sans-serif;
    color: rgb(255, 255, 255);
    letter-spacing: 2px;
}

.second_half{
    width: 50%;
} */


/* section {
    display: flex;
    gap: 10px;
}

article {
    position: relative;
    overflow: hidden;
    background: #ffffff;
    width: 64px;
    height: 500px;
    border-radius: 36px;
    display: flex;
    align-items: flex-end;
    opacity: 0.9;
    transition: 0.5s;
}

article .material-symbols-outlined {
    display: grid;
    place-items: center;
    width: 50px;
    height: 50px;
    background:
        rgb(255 255 255 / 80%);
    border-radius: 50%;
    font-size: 28px;
}

article img {
    position: absolute;
    z-index: 0;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    height: 150%;
    filter: grayscale(0.5);
}

article .content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 400px;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    padding: 100px 0 20px 20px;
    display: flex;
    align-items: center;
    gap: 14px;
    background:
        linear-gradient(to bottom,
            rgb(0 0 0 / 0%),
            rgb(0 0 0/ 80%));
    transition: 0.25s;
}

article.active .content {
    opacity: 1;
    visibility: visible;
} */